<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Komma-Trainer{% endblock %}</title>
    <link rel="stylesheet" href="./static/dialog-polyfill/dialog-polyfill.css">
    <link rel="stylesheet" href="./static/interpunct.css">
    <script src="./static/dialog-polyfill/dialog-polyfill.js"></script>
</head>
<body>
    <div class="rankinfo">
        {% if display_rank %}
            <img style="width:150px" src="./static/images/{{ rankimg }}">
            <div class="rank">
                <p>{{ uname }}, Du bist in Level {{ level }}.<br>(<a href="logout">Reset</a>)</p>
                <p>Regeln im Fokus:</p>
                <table>
                    {%  for ur in leveldsp %}
                    <tr>
                        <td><abbr title='{{ ur.rule.description }}' id='abbr-{{ ur.rule.id }}'>{{ ur.rule.rule }}</abbr></td>
                    </tr>
                    {% endfor %}
                </table>
                    {% for ur in leveldsp %}
                      <dialog id="dialog-{{ ur.rule.id }}" class="modal">
                        <h1>Regel {{ ur.rule.rule }}</h1>
                            {{ ur.rule.description }}
                            <p>&nbsp;</p>
                            <form method="dialog">
                              <input type="submit" value="Schließen" />
                            </form>
                      </dialog>
                    {% endfor %}
           </div>
    {% endif %}
    </div>
    <div class="main">
        {% block main %}
        <h2>Der Komma-Trainer</h2>

        Hallo. Hier ist etwas schiefgelaufen.
        {% endblock %}
    </div>

</body>
</html>
