{% extends "trainer/base.html" %}

{% block title %}Kommatraining - Geschafft!{% endblock %}

{% block main %}
<p>&nbsp;</p>
<div class="card" style="width: 75%;">
  <div class="card-body">
    <h5 class="card-title">Herzlichen Glückwunsch</h5>
    <h6 class="card-subtitle mb-2 text-muted">Du hast es geschafft.</h6>
    <p class="card-text">Es st vorbei, du hast es geschafft.</p>
    <!--<a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>-->
  </div>
</div>

{% endblock %}
