{% extends "trainer/base.html" %}

{% block title %}Komma-Trainer - Levelaufstieg{% endblock %}

{% block main %}
{% if level > 0 %}
<h2 class="task_header">Du bist aufgestiegen!</h2>

<p>Herzlichen Glückwunsch!

<p>Du bist einen Level aufgestiegen und bist jetzt in Level {{level}}. Und Du hast eine neue Regel bekommen. Die Regel lautet:</p>
{%  else %}
<h2>Deine erste Regel</h2>

    <p>Du bekommst nach und nach weitere Regeln zum Üben hinzu. Immer, wenn Du diese Regel gut genug beherrschst,
        steigst Du einen Level auf und erweiterst dein Regelrepertoire. Die alten Regeln sind damit nicht aus
        dem Spiel: Je nachdem, wie fehlerfrei Du sie meisterst, tauchen sie ab und an, auch in Kombinationen mit
        anderen Regeln, wieder auf.
    </p>
    <h4>Hier nun Deine erste Regel:</h4>
{% endif %}

    <p>&nbsp;</p>

<div class="card">
  <h5 class="card-header">{{ new_rule.rule }}</h5>
  <div class="card-body">
    <h3 class="card-title">Regel:</h3>
    <p class="example card-text">{{ new_rule.description|safe}}</p>
    <h3 class="card-title">Beispiel:</h3>
    <p class="card-text example"><em>{{ new_rule.example|safe }}</em></p>
  </div>
</div>

<p>&nbsp;</p>

    {% if finished %}
<h2>Hurra! Das war deine letzte Regel!</h2>
<p>&nbsp; </p>

<p>
Damit hast du alle Regeln freigeschaltet. Du kannst noch beliebig lange weiterüben, die Regeln werden jeweils danach ausgewählt,
wo du in letzter Zeit noch Fehler gemacht hast bzw. welche Regeln du schon besonders gut beherrschst.
</p>
<p>&nbsp; </p>
    {% endif %}

<p><a href=""><button class="btn btn-info">Hier geht es weiter.</button></a>

    <script>
   $( document ).ready(function() {
       if ({{ level }} >= 20) VanillaLM.markSuccess();
       VanillaLM.setAttribute("Level", "{{ level }}");
       VanillaLM.send();
   }
</script>

{% endblock %}
