{% extends "trainer/base.html" %}

{% block title %}Komma-Trainer - Statistik{% endblock %}

{% block main %}
<h2>Statistik</h2>
<p>&nbsp;</p>

<h3>Basisdaten</h3>
<table class="table">
<tr><th>Kategorie</th><th>Wert</th></tr>
<tr><td>Anzahl Nutzer</td><td>{{ count_users }}</td></tr>
<tr><td>Anzahl Stud.IP-Nutzer &nbsp;</td><td>{{ count_studip_users }}</td></tr>
<tr><td>Anzahl Lösungen</td><td>{{ count_solutions }}</td></tr>
<tr><td>Anzahl Fehler</td><td>{{ count_error }}</td></tr>
</table>

    <!--
<h3>Fehlerverteilung</h3>

    <table class="table">
    <tr><th>Regel</th><th>Anzahl Fehler</th></tr>
    {% for er in error_rules %}
        <tr><td>{{ er.rule }} - {{ er.rule.description }}</td><td>{{ er.the_count }}</td></tr>
    {% endfor %}
    </table>
    -->

<h3>Levelverteilung</h3>

    <table class="table">
    <tr><th>Level &nbsp;</th><th>Anzahl Nutzer</th></tr>

    {% for l in levels %}
        <tr><td>{{ l.rules_activated_count }}</td><td>{{ l.the_count }}</td>
    {% endfor %}

    </table>

<h3>Nutzerdaten</h3>

    <table class="table">
    <tr><th>Sem.</th><th>Abschluss</th><th>Fach 1</th>
        <th>HZB</th><th>m/w</th><th>Muttersprache</th><th>Level</th><th>Lösungen</th><th>Fehler</th><th>Gesamtzeit</th></th><th>Einschätzung</th></tr>
    {% for u in users %}
        <tr><td>{{ u.explicit_data_semester }}</td><td>{{ u.explicit_data_study }}</td>
            <td>{% if u.data_subject1 %}{{ u.explicit_data_subject1 }}{% endif %}
                {% if u.data_subject2 %}<br>{{ u.explicit_data_subject2 }}{% endif %}
                {% if u.data_subject3 %}<br>{{ u.explicit_data_subject3 }}{% endif %}</td>
            <td>{{ u.explicit_data_study_permission }}</td><td>{{ u.data_sex }}</td>
            <td>{{ u.data_l1 }}</td><td>{{ u.rules_activated_count }}</td>
            <td>{{ u.tries }}</td>
            <td>{{ u.errors }}</td>
            <td>{{ u.total_time_formatted  }} Min.</td>
            <td>{{ u.data_selfestimation }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
