{% extends "trainer/base.html" %}

{% block title %}Komma-Trainer - Übung: Kommas setzen{% endblock %}

{% block main %}
    <h2>Übung: Komma setzen</h2>
    <div class="interpunct-sentence" id="interpunct-sentence-{{ sentence.id }}" data-user="{{ user_id }}">
        <div class="interaction">
        {% for w in words %}
            {% for c,s in collection %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                        {{ w }}
                        {% if not forloop.last %}
                            <span class="interpunct-commaslot" id="interpunct-commaslot-{{ forloop.counter }}" data-tooltip='Kommatyp ist {{c}}. Gesetzt von {{ s }}%.' data-tooltip-position="top">
                        &nbsp;   </span>
                        {% endif %}
                    {% endif %}
            {% endfor %}
        {% endfor %}
        </div>
        <p id="feedback-{{ sentence.id }}">
            <button class="interpunct-sentence-submit" data-sentence="{{ sentence.id }}">Abschicken</button>
        </p>
    </div>
    <p class="manual">Anleitung: <br>Setze alle notwendigen Kommas, indem Du auf die Wortzwischenräume klickst. Optionale Kommas
    kannst Du setzen, musst du aber nicht.
    </p>

    <script>
    var submitted = false;
        /* Check if a DOM element has a given CSS class. */
        function has_class(element, cls) {
            return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
        }

        /* Switch the content of a comma slot from blank to comma / comma to blank */
        function toggle_comma(element) {
            if (element.innerHTML.indexOf(',') == -1) {
                element.innerHTML = ",";
            } else {
                element.innerHTML = "&nbsp";
            }
        }

        /* Changes the color of span depending on the correctness of the solution*/
        function toggle_color(element, val_sample, val_user) {
            var id = element.dataset.sentence;
            var sentence = document.querySelectorAll("#interpunct-sentence-"+id+" .interpunct-commaslot");
            for(var i=0;i<val_sample.length;i++){
                if((val_sample[i] == 2) && (val_user[i] == 1)){
                    sentence[i].style.background="#85e278"; //green
                }else if((val_sample[i] == 1)){
                    sentence[i].style.background = "#219fff"; //blue
                }else if(val_sample[i] != val_user[i]){
                    sentence[i].style.background="#ff876e"; //red
                }
            }
        }

        function change_tooltip_visibility(){
            var style = document.createElement("style");
            document.head.appendChild(style);
            sheet = style.sheet;
            sheet.insertRule('[data-tooltip]:hover:before,[data-tooltip]:hover:after{visibility: visible; opacity: 1;}', 0);
        }


        function submit_sentence(element) {

            /* find all commaslots for the submitted sentence */
            var id = element.dataset.sentence;
            var sentence = document.querySelectorAll("#interpunct-sentence-"+id+" .interpunct-commaslot");

            var val= new Array();
            for (var i=0; i<sentence.length; i++) {
                if (sentence[i].innerHTML.indexOf(',')>=0) {
                    val.push(1);
                } else {
                    val.push(0);
                }
            }

            /* send solution (bitfield, sentence id, user id) to server as AJAX get request*/
            var xmlhttp=new XMLHttpRequest();
            xmlhttp.onreadystatechange=function()
            {
               if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                    document.getElementById("feedback-" + id).innerHTML = "<br><a href={%  url 'task' %} class='interpunct-sentence-next'>Nächste Aufgabe</a>";
                }
            }
            /* change color of all span slots */
            toggle_color(element,{{ comma }},val);

            xmlhttp.open("GET","submit_task1?id="+id+"&sol="+val+"&uid=testuser",true);
            xmlhttp.send();

            /* make the tooltip visible */
            change_tooltip_visibility();

            submitted = true;
        }

        document.querySelector('body').addEventListener('click', function(event) {
          if (has_class(event.target, 'interpunct-commaslot') && (!submitted)) {
              toggle_comma(event.target);
          }
          if (has_class(event.target, 'interpunct-sentence-submit')) {
              submit_sentence(event.target);
          }
        });
    </script>
{%  endblock %}