{% extends "trainer/base.html" %}
{% load static %}


{% block title %}Kommatraining - Übung: Kommas korrigieren{% endblock %}

{% block main %}
    <h2 class="task_header"><b>Übung</b> | Was ist richtig?
        <button class="btn btn-info"
                data-toggle="popover"
                title="Anleitung"
                data-content="Entscheide, bei welchem Satz die Kommasetzung korrekt ist.">?</button>
    </h2>
        <div>
    {% if user.sek2_rule == 1 %}
        <img src="{% static 'images/sek2_part1.jpg' %}" width="50%" style="margin-bottom: 10px;">
    {% elif user.sek2_rule == 2 %}
        <img src="{% static 'images/sek2_part2.jpg' %}" width="50%" style="margin-bottom: 10px;">
    {% elif user.sek2_rule == 3 %}
        <img src="{% static 'images/sek2_part3.jpg' %}" width="50%" style="margin-bottom: 10px;">
    {% endif %}
    </div>

    <p class="manual">Welcher Satz ist korrekt?</p>
    
    <div class="interpunct-sentence" id="interpunct-sentence-{{ sentence.id }}" data-user="{{ user_id }}">

        <p>Satz 1:</p>
        <p>{{ sentences.0 }}</p>
        <p>Satz 2:</p>
        <p>{{ sentences.1 }}</p>
        <p>&nbsp;</p>
        <p id="feedback-{{ sentence.id }}">
            <button class="interpunct-sentence-submit" data-sentence="{{ sentence.id }}" data-chosen="1">Satz 1 ist korrekt!</button>
            &nbsp;&nbsp;
            <button class="interpunct-sentence-submit" data-sentence="{{ sentence.id }}" data-chosen="2">Satz 2 ist korrekt!</button>
        </p>
    </div>
    <p id="correction">&nbsp;</p>

    <script>

        var submitted = false;
        var start_time = Date.now();

        /* Check if a DOM element has a given CSS class. */
        function has_class(element, cls) {
            return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
        }

        function toggle_correction(element) {
            if (element.dataset.filled == '1') {
                // for prefilled commas, just toggle the red cross for nulling them
                element.classList.toggle("cross");
            } else {
                element.classList.toggle("addedcomma");
                // for originally empty slots, toggle a red comma
                if (element.innerHTML.indexOf(',') == -1) {
                    element.innerHTML = ",";
                } else {
                    element.innerHTML = "&nbsp;";
                }
            }
        }

        function submit_sentence(element) {

            /* find all commaslots for the submitted sentence */
            var id = element.dataset.sentence;
            var sentence = document.querySelectorAll("#interpunct-sentence-"+id+" .interpunct-commaslot");

            var solution =element.dataset.chosen+"|{{correct}}";
            var time_elapsed = Date.now() - start_time;
            $.getJSON( "submit_task_recognize_sentence?id=" + id + "&tim=" + time_elapsed + "&sol=" + solution, function( data ) {
                document.getElementById("feedback-" + id).innerHTML = "<br><a href={%  url 'task' %} class='interpunct-sentence-next'>Nächste Aufgabe</a>";
                $('#correction').load('{% url 'sentence' sentence.id %}');
                /* change color of all span slots */
                var sentence = $("#interpunct-sentence-"+id+" .interpunct-commaslot");
                for (var i=0; i<sentence.length; i++) {  // mark correct, optional and incorredt
                    if (markedincorrect[i] && data.response[i].correct) {
                        if (data.response[i].rule.mode == 0 || data.response[i].rule.mode == 2) { // must not comma is set or must is not set
                            // sentence[i].style.background = "#85e278"; //green
                            m = document.createElement("kbd");
                            m.innerHTML = "✔";
                            m.classList.add("correct-correct");
                            sentence[i].after(m)
                            // sentence[i].innerHTML += ' '
                            // sentence[i].classList.add('markingright');
                        } else if (data.response[i].rule.mode == 1) {  // a correctly marked may comma
                            //sentence[i].style.background = "#219fff"; //blue
                            //sentence[i].style.border = "3px solid green";
                            //sentence[i].innerHTML += ' ✔'
                            m = document.createElement("kbd");
                            m.innerHTML = "✔";
                            m.classList.add("correct-correct");
                            sentence[i].after(m)
                            // sentence[i].classList.add('markingright');
                        }
                    } else if (data.response[i].correct) { // must comma correctly not marked
                        if (data.response[i].rule.mode == 2) {
                            //sentence[i].style.background = "#85e278"; //green
                            // sentence[i].classList.add('markingright');
                            //sentence[i].innerHTML += ' ✔'
                            m = document.createElement("kbd");
                            m.innerHTML = "✔";
                            m.classList.add("correct-correct");
                            sentence[i].after(m)

                        }
                    } else if (!data.response[i].correct) {
                        //sentence[i].style.background = "#ac0634"; // red
                        m = document.createElement("kbd");
                        m.innerHTML = "✘";
                        m.classList.add("correct-wrong");
                        sentence[i].after(m)
                        // sentence[i].innerHTML += ' ✘'
                        // sentence[i].classList.add('markingwrong');
                    }
                }
            });


            submitted = true;
        }

        document.querySelector('body').addEventListener('click', function(event) {
          if (has_class(event.target, 'interpunct-commaslot') && (!submitted)) {
              toggle_correction(event.target);
          }
          if (has_class(event.target, 'interpunct-sentence-submit')) {
              submit_sentence(event.target);
          }
        });
    </script>
{%  endblock %}