{% extends "trainer/base.html" %}

{% block title %}Komma-Trainer - Übung: Erkläre die Kommaposition{% endblock %}

{% block main %}
    <h2>Übung: Erkläre die Kommaposition</h2>
    <p class="rank">Anleitung: Wähle für die markierte Kommaposition die passenden Regeln aus. Insbesondere bei höheren Leveln können auch mehrere oder gar alle Regeln passen.</p>

<div class="interpunct-sentence" id="interpunct-sentence-{{ sentence.id }}" data-user="{{ user_id }}">
    <div class="interaction">
    {% spaceless %}{% for w in words_and_commas %}{{ w.0 }}{% if not forloop.last %}<span class="{% if forloop.counter == explanation_position.0 %}explanation-position{% endif %}">{% if w.1 != 0 %},{% endif %}{% if forloop.counter0 == explanation_position.0 %} [1]{% endif %}</span> {% endif %}{% endfor %}{% endspaceless %}
    </div>
<p>&nbsp;</p>
    <div class = "explanations">
        <form class="exp-form" id="form0">
            <h3>Erkläre die Kommaposition [1]</h3>
            {% csrf_token %}
            <script>console.log("{{ guessing_candidates|safe }}");</script>
            <input type="hidden" name="sentence_id" value="{{ sentence.id }}">
            <input type="hidden" name="position" value="{{ explanation_position.0 }}">
            <input type="hidden" name="rule-0" value="{{ guessing_candidates.0.code }}">
            <input type="hidden" name="rule-1" value="{{ guessing_candidates.1.code }}">
            <input type="hidden" name="rule-2" value="{{ guessing_candidates.2.code }}">
            <p id="p-expl-0"><input id="expl-0" type="checkbox" name="{{ guessing_candidates.0.code }}"> <label for="expl-0">{{ guessing_candidates.0.description|safe }}</label></p>
            <p id="p-expl-1"><input id="expl-1" type="checkbox" name="{{ guessing_candidates.1.code }}"> <label for="expl-1">{{ guessing_candidates.1.description|safe }}</label></p>
            <p id="p-expl-2"><input id="expl-2" type="checkbox" name="{{ guessing_candidates.2.code }}"> <label for="expl-2">{{ guessing_candidates.2.description|safe }}</label></p>
        </form>
    </div>
    <p>&nbsp;</p>

    <p id="feedback-{{ sentence.id }}">
        <button class="interpunct-sentence-submit" data-sentence="{{ sentence.id }}">Abschicken</button>
    </p>
</div>
    <p id="correction">&nbsp;</p>

<script>
    var start_time = Date.now();

    function validate_form(){
        var checkboxes = $("input:checkbox");  // all the checkboxes
        var correct_rules = {{ correct_rules_js|safe }};  // list of correct rule codes
        var all_correct = true;  // everything ok?
        for (var i=0; i<checkboxes.length; i++) {
            var cb = $(checkboxes[i]);
            console.log(cb.attr('name'));
            console.log(cb.is(':checked'));
            console.log(correct_rules);
            console.log($.inArray(cb.attr('name'), correct_rules));
            if ($.inArray(cb.attr('name'), correct_rules) != -1) {  // rule chosen is correct
                if (cb.is(':checked')) { // correct rule checked
                    console.log("Correct rule checked! #p-"+cb.id);
                    $("#p-"+cb.attr('id')).addClass('explanation-correct');
                } else {  // correct rule not checked
                    $("#p-"+cb.attr('id')).addClass('explanation-correct');
                    all_correct = false;
                }
            } else {  // incorrect rule
               if (!cb.is(':checked')) { // incorrect rule not checked
                    //$("#p-"+cb.attr('id')).addClass('explanation-correct');
                } else {  // incorrect rule checked
                    $("#p-"+cb.attr('id')).addClass('explanation-wrong');
                    all_correct = false;
                }
            }
        }
        return all_correct;
    }


    function submit_sentence(element) {

        var form = document.getElementById('form0');
        var formData = new FormData(form);

        // add time used for task to FormData
        var time_elapsed = Date.now() - start_time;
        formData.append("tim",time_elapsed);

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange=function()
        {
           if (xhr.readyState==4 && xhr.status==200) {
               validate_form();
               $("input:checkbox").attr('disabled',true);
                document.getElementById("feedback-" + "{{ sentence.id }}").innerHTML = "<br><a href={%  url 'task' %} class='interpunct-sentence-next'>Nächste Aufgabe</a>";
               $('#correction').load('{% url 'sentence' sentence.id %}');
            }
        }
        xhr.open('POST', '{% url 'submit_task_explain_commas' %}', true);
        xhr.send(formData);

        /*
        /* find all commaslots for the submitted sentence
        var id = element.dataset.sentence;
        var sentence = document.querySelectorAll("#interpunct-sentence-"+id+" .interpunct-commaslot");

        validate_form();
        /* send solution (bitfield, sentence id, user id) to server as AJAX get request
        var xmlhttp=new XMLHttpRequest();
        xmlhttp.onreadystatechange=function()
        {
           if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                document.getElementById("feedback-" + id).innerHTML = "<br><a href={%  url 'task' %} class='interpunct-sentence-next'>Nächste Aufgabe</a>";
            }
        }
        var time_elapsed = Date.now() - start_time;
        xmlhttp.open("GET","submit_task_explain_commas?id="+id+"&tim="+time_elapsed+"&chckbx_sol="+chckbx_sol,true);
        xmlhttp.send();

        submitted = true;
        */
    }

    document.querySelector('body').addEventListener('click', function(event) {
      if ($(event.target).hasClass('interpunct-sentence-submit')) {
          submit_sentence(event.target);
      }
    });
</script>
{%  endblock %}