{% extends "trainer/base.html" %}

{% block title %}Kommatraining - Übung: Kommas korrigieren{% endblock %}

{% block main %}
    <h2 class="task_header"><b>Übung</b> | Kommas korrigieren
        <button class="btn btn-info"
                data-toggle="popover"
                title="Anleitung"
                data-content="Streiche alle Fehler an, d.h. setze fehlende und lösche überflüssige Kommas! Achtung: 'Kann-Kommas' sind keine Fehler, egal ob gesetzt oder nicht gesetzt.">?</button>
    </h2>
    <p class="manual">Markiere alle Fehler!</p>
    <div class="interpunct-sentence" id="interpunct-sentence-{{ sentence.id }}" data-user="{{ user_id }}">
        <div class="interaction-correct">
            {% spaceless %}{% for w in words %}{% for cts in comma_to_check %}{% if forloop.counter == forloop.parentloop.counter %}{{ w }}{% if not forloop.last %}<kbd class="interpunct-commaslot" id="interpunct-commaslot-{{ forloop.counter }}" data-filled="{{ cts }}">{% if cts == 1 %},{% else %}&nbsp;{% endif %}</kbd>{% endif %}{% endif %}{% endfor %}{% endfor %}{% endspaceless %}
        </div>{% if sentence.source %}<div style="font-size: 70%;color:#999;text-align:right;margin-right:1.43em;">&mdash; Quelle: {{ sentence.source }}</div>{% endif %}

    <p>&nbsp;</p>
        <p id="feedback-{{ sentence.id }}">
            <button class="interpunct-sentence-submit" data-sentence="{{ sentence.id }}">Abschicken</button>
        </p>
    </div>
    <p id="correction">&nbsp;</p>

    <script>

        var submitted = false;
        var start_time = Date.now();

        /* Check if a DOM element has a given CSS class. */
        function has_class(element, cls) {
            return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
        }

        function toggle_correction(element) {
            if (element.dataset.filled == '1') {
                // for prefilled commas, just toggle the red cross for nulling them
                element.classList.toggle("cross");
            } else {
                element.classList.toggle("addedcomma");
                // for originally empty slots, toggle a red comma
                if (element.innerHTML.indexOf(',') == -1) {
                    element.innerHTML = ",";
                } else {
                    element.innerHTML = "&nbsp;";
                }
            }
        }

        /* Construct a solution array, consisting of:
        *
        *  string comma_in_task (1=present, 0 = not present)
        *         + user_marked_as_incorrect (1 = marked as incorrect, 0 = not marked)
        *
        *  Values:
        *  00 = no comma presented, not marked as incorrect
        *  10 = comma presented, not marked as incorrect
        *  01 = no comma presented, marked as incorrect
        *  11 = comma presented, marked as incorrect
        *
        * */
        function construct_solution(val_commas, val_user) {
            var solution = Array();
            for(var i=0;i<val_commas.length;i++) {
                solution.push(val_commas[i].toString() + val_user[i].toString());
            }
            return solution;
        }

        function submit_sentence(element) {

            /* find all commaslots for the submitted sentence */
            var id = element.dataset.sentence;
            var sentence = document.querySelectorAll("#interpunct-sentence-"+id+" .interpunct-commaslot");

            var markedincorrect = [];
            var commas = [];
            for (var i=0; i<sentence.length; i++) {
                markedincorrect.push((sentence[i].classList.contains('cross') || sentence[i].classList.contains('addedcomma')) ? 1 : 0);  // all marked with a cross
            }
            markedincorrect.push(0); // TODO: remove hack from view!

            var solution = construct_solution({{ comma_to_check }}, markedincorrect);
            var time_elapsed = Date.now() - start_time;
            $.getJSON( "submit_task_correct_commas?id=" + id + "&tim=" + time_elapsed + "&sol=" + solution, function( data ) {
                document.getElementById("feedback-" + id).innerHTML = "<br><a href={%  url 'task' %} class='interpunct-sentence-next'>Nächste Aufgabe</a>";
                $('#correction').load('{% url 'sentence' sentence.id %}');
                /* change color of all span slots */
                var sentence = $("#interpunct-sentence-"+id+" .interpunct-commaslot");
                for (var i=0; i<sentence.length; i++) {  // mark correct, optional and incorredt
                    if (markedincorrect[i] && data.response[i].correct) {
                        if (data.response[i].rule.mode == 0 || data.response[i].rule.mode == 2) { // must not comma is set or must is not set
                            // sentence[i].style.background = "#85e278"; //green
                            m = document.createElement("kbd");
                            m.innerHTML = "✔";
                            m.classList.add("correct-correct");
                            sentence[i].after(m)
                            // sentence[i].innerHTML += ' '
                            // sentence[i].classList.add('markingright');
                        } else if (data.response[i].rule.mode == 1) {  // a correctly marked may comma
                            //sentence[i].style.background = "#219fff"; //blue
                            //sentence[i].style.border = "3px solid green";
                            //sentence[i].innerHTML += ' ✔'
                            m = document.createElement("kbd");
                            m.innerHTML = "✔";
                            m.classList.add("correct-correct");
                            sentence[i].after(m)
                            // sentence[i].classList.add('markingright');
                        }
                    } else if (data.response[i].correct) { // must comma correctly not marked
                        if (data.response[i].rule.mode == 2) {
                            //sentence[i].style.background = "#85e278"; //green
                            // sentence[i].classList.add('markingright');
                            //sentence[i].innerHTML += ' ✔'
                            m = document.createElement("kbd");
                            m.innerHTML = "✔";
                            m.classList.add("correct-correct");
                            sentence[i].after(m)

                        }
                    } else if (!data.response[i].correct) {
                        //sentence[i].style.background = "#ac0634"; // red
                        m = document.createElement("kbd");
                        m.innerHTML = "✘";
                        m.classList.add("correct-wrong");
                        sentence[i].after(m)
                        // sentence[i].innerHTML += ' ✘'
                        // sentence[i].classList.add('markingwrong');
                    }
                }
            });


            submitted = true;
        }

        document.querySelector('body').addEventListener('click', function(event) {
          if (has_class(event.target, 'interpunct-commaslot') && (!submitted)) {
              toggle_correction(event.target);
          }
          if (has_class(event.target, 'interpunct-sentence-submit')) {
              submit_sentence(event.target);
          }
        });
    </script>
{%  endblock %}