{% extends "trainer/base.html" %}

{% block title %}Willkommen beim Komma-Trainer!{% endblock %}

{% block main %}

    <h1>Komma-Trainer</h1>

    <p>Herzlich Willkommen zum Komma-Trainer! Du möchtest auf motivierende und herausfordernde Weise an deinen Kommasetzungs-Fähigkeiten arbeiten?
    Kein Problem - die Kommas sind nur noch wenige Klicks entfernt. Lange Anleitungen und Vorreden gibt es nicht, dafür aber jede Menge
    interessanter Sätze, spielerischer Elemente und dazu noch die Möglichkeit, etwas für die Wissenschaft zu tun.
    </p>

    <h2>Wissenschaftliche Auswertung</h2>

    <p>
    Wir wollen Leistungen und Schwierigkeiten Studierender bei der Kommasetzung untersuchen, um dieses Programm zu
    verbessern, aber auch, um etwas über typische (und untypische) Problemstellen herauszufinden. Dazu hilft es uns,
    wenn Du den folgenden Fragebogen kurz ausfüllst.
    </p>

    <p>Alle anfallenden Daten werden pseudonym gespeichert, d.h. das Programm merkt sich Deinen Übungsstand und
    präsentiert Dir jeweils passende Übungen. An keiner Stelle sind dabei aber Rückschlüsse auf Deine Identität
    und Deinen Namen möglich. Technisch funktioniert das so, dass Stud.IP aus deinem Benutzernamen einen
    verschlüsselten Wert (kryptographisches Hashing) bildet und das Komma-Programm nur diesen Wert kennt.
    Es nutzt eine eigene Datenbank und hat keinerlei Zugriff auf Stud.IP-Daten.</p>

    <p>Alle Fragen zum Programm und zum Datenschutz beantwortet Dr. Tobias Thelen, Zentrum für Informationsmanagement und
    virtuelle Lehre, <a href="mailto:tobias.thelen@uni-osnabrueck.de">tobias.thelen@uni-osnabrueck.de</a>, Telefon 0541/969-6502.</p>

    <h2>Fragebogen</h2>

<form id="theform" class="form-horizontal" action="{% url 'start' %}">

  <div class="form-group" id="formSemGroup">
    <label for="formSem" class="col-sm-3 control-label">Angaben zum Studium *</label>

    <div class="col-sm-6">
    <select id="formSem" name="semester" class="form-control">
      <option value="0">Abschluss / Fachsemester</option>
      <option value="7">Bachelor 1./2. Semester</option>
      <option value="8">Bachelor 3./4. Semester</option>
      <option value="9">Bachelor ab 5. Semester</option>
      <option value="10">Master 1./2. Semester</option>
      <option value="11">Master ab 3. Semester</option>
      <option value="12">Promotion oder nicht studierend</option>
    </select>
    </div>
    <p id="formSemGroup-error">&nbsp; &nbsp; &nbsp; Bitte auswählen!</p>
  </div>

  <div class="form-group" id="formFach1Group">
    <div class="col-sm-6">
    <select id="formFach1" name="fach1" class="form-control">
      <option value="00">Studienrichtung</option>
      <option value="40">Naturwissenschaften, Mathematik, Informatik</option>
      <option value="41">Technische Wissenschaften, Ingenieurwissenschaften</option>
      <option value="42">Psychologie, Humanmedizin und Gesundheitswissenschaften</option>
      <option value="43">Agrarwissenschaften und Vetrinärmedizin</option>
      <option value="44">Sozialwissenschaften, Rechtswissenschaft, Wirtschaftswissenschaft</option>
      <option value="45">Geisteswissenschaften</option>
    </select>
    </div>
    <p id="formFach1Group-error">&nbsp; &nbsp; &nbsp; Bitte auswählen!</p>

  </div>

  <div class="form-group">
    <label for="formGender" class="col-sm-3 control-label">Geschlecht</label>
    <div class="col-sm-2">
        <select id="formGender" name="gender" class="form-control">
            <option value="-"></option>
            <option value="w">weiblich</option>
            <option value="m">männlich</option>
            <option value="d">divers</option>
        </select>
    </div>
      <div class="col-sm-1">
          &nbsp;
      </div>

  </div>

  <div class="form-group" id="formSelfestGroup">
    <label for="formSelfest" class="col-sm-6 control-label">Wie sicher fühlst Du Dich insgesamt bei der Kommasetzung? *</label>
    <div class="col-sm-offset-3 col-sm-6">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default">
            <input type="radio" name="selfest" value="1" autocomplete="off"> sehr unsicher
          </label>
          <label class="btn btn-default">
            <input type="radio" name="selfest" value="2" autocomplete="off"> eher unsicher
          </label>
          <label class="btn btn-default">
            <input type="radio" name="selfest" value="3" autocomplete="off"> eher sicher
          </label>
          <label class="btn btn-default">
            <input type="radio" name="selfest" value="4" autocomplete="off"> sehr sicher
          </label>

        </div>
         <p id="formSelfestGroup-error">&nbsp; &nbsp; &nbsp; Bitte auswählen!</p>
    </div>
  </div>

    {% if user.gamification == user.GAMIFICATION_INDIVIDUAL %}
        <div class="form-group" id="formNicknameGroup">
            <label for="formNickname" class="col-sm-3 control-label">Nickname *</label>
            <div class="col-sm-5">
                <input id="formNickname" name="nickname" class="form-control">
            </div>
            <div class="col-sm-8">
                (Dieser Name wird in der Rangliste angezeigt, er sollte keine Rückschlüsse auf Deine Identität erlauben)
            </div>
        <p id="formNicknameGroup-error">&nbsp; &nbsp; &nbsp; Bitte auswählen!</p>
        <div class="col-sm-1"></div>
        </div>
    {% endif %}

    {% if user.gamification == user.GAMIFICATION_GROUP %}
      <div class="form-group" id="formGroupGroup">
        <label for="formGroup" class="col-sm-8 control-label">Wähle aus, zu welcher Gruppe Du gehören möchtest (Welche Gruppe ist am erfolgreichsten?) *</label>
        <div class="col-sm-5">
            <select id="formGroup" name="group" class="form-control">
                <option value="">...bitte auswählen...</option>
                <option value="Mensa">Mensa</option>
                <option value="Botanischer Garten">Botanischer Garten</option>
                <option value="Bibliothek">Bibliothek</option>
                <option value="Schlossgarten">Schlossgarten</option>
                <option value="BigBlueButton">BigBlueButton</option>
            </select>
        </div>
        <p id="formGroupGroup-error">&nbsp; &nbsp; &nbsp; Bitte auswählen!</p>
        <div class="col-sm-1">
        &nbsp;
        </div>
      </div>
    {% endif %}

  <div class="form-group" id="formSubmitGroup">
     <div class="col-sm-offset-3 col-sm-9">
         <button type="submit" class="btn btn-primary">Absenden</button>
     </div>
  </div>
</form>

<p>&nbsp;</p>

<script>

$(document).ready(function () {


    $("#formSemGroup-error").hide();
    $("#formFach1Group-error").hide();
    $("#formSelfestGroup-error").hide();
    $("#formGroupGroup-error").hide();
    $("#formNicknameGroup-error").hide();
    $("#theform").on("submit", function (event) {

        if ($("#formSem").val()==0) {
            $("#formSemGroup").addClass("has-error"); $("#formSemGroup").removeClass("has-success"); $("#formSemGroup-error").show();
            event.preventDefault();
        } else {
            $("#formSemGroup").addClass("has-success"); $("#formSemGroup").removeClass("has-error"); $("#formSemGroup-error").hide();
        }

        if ($("#formFach1").val()==0) {
            $("#formFach1Group").addClass("has-error"); $("#formFach1Group").removeClass("has-success"); $("#formFach1Group-error").show();
            event.preventDefault();
        } else {
            $("#formFach1Group").addClass("has-success"); $("#formFach1Group").removeClass("has-error"); $("#formFach1Group-error").hide();
        }

        if (!$("input[name='selfest']:checked").val()) {
            $("#formSelfestGroup").addClass("has-error"); $("#formSelfestGroup").removeClass("has-success"); $("#formSelfestGroup-error").show();
            event.preventDefault();
        } else {
            $("#formSelfestGroup").addClass("has-success");  $("#formSelfestGroup").removeClass("has-error");  $("#formSelfestGroup-error").hide();
        }

        {% if user.gamification == user.GAMIFICATION_GROUP %}
            if ($("#formGroup").val()==0) {
                $("#formGroupGroup").addClass("has-error"); $("#formGroupGroup").removeClass("has-success"); $("#formGroupGroup-error").show();
                event.preventDefault();
            } else {
                $("#formGroupGroup").addClass("has-success"); $("#formGroupGroup").removeClass("has-error"); $("#formGroupGroup-error").hide();
            }
        {% endif %}

        {% if user.gamification == user.GAMIFICATION_INDIVIDUAL %}
            if ($("#formNickname").val()==0) {
                $("#formNicknameGroup").addClass("has-error"); $("#formNicknameGroup").removeClass("has-success"); $("#formNicknameGroup-error").show();
                event.preventDefault();
            } else {
                $("#formNicknameGroup").addClass("has-success"); $("#formNicknameGroup").removeClass("has-error"); $("#formNicknameGroup-error").hide();
            }
        {% endif %}
    });
});

</script>
{% endblock %}