@charset "utf-8";

body {
    font-family:Arial,sans-serif;
}

.rankinfo {
    float:left; width:200px; padding:10px;
}

.main {
    padding: 10px; margin-left:220px;
}

.sentence-correct {
    margin-right:1em; padding:10px; background-color:#ddffdd;
    margin-top:1em;
    word-spacing: 0;
}

.sentence-correct .label {
    cursor: pointer;
}


.interaction {
    margin-right:1em; padding:10px; background-color:#cccccc;
    word-spacing: 0;
}

.interaction-correct {
    margin-right:1em; padding:10px; background-color:#ffaaaa;
    word-spacing: 0;
}


.interpunct-sentence{
    margin-top: 40px;
    font-size:144%;
}

.example {
    margin-top: 20px;
    font-size: 144%;
}

.counter {
   color: #777;
    font-size:80%;
}
/* ----- rounding corners -----*/
.interpunct-commaslot{
    xborder-radius: 50px;
    padding-left:0.4em;
    padding-right:0.4em;
    cursor: pointer;
    xwhite-space:nowrap;
}


.interpunct-commaslot:hover {
    background-color: #dddddd;
}
/* ----- Submit exercise button styling ----- */
.interpunct-sentence-submit{
    background-color: #f74040;
    border:none;
    color: white;
    font-size:100%;
    padding: 12px 25px;
    text-decoration: none;
    cursor: pointer;
    border-radius:4px;
}
.interpunct-sentence-submit:hover{
   background-color: red;
}
/* ----- Next exercise button styling ----- */
.interpunct-sentence-next:link, .interpunct-sentence-next:visited {
    background-color: #02a131;
    border:none;
    color: white;
    font-size:16px;
    padding: 12px 25px;
    text-decoration: none;
    cursor: pointer;
    border-radius:4px;
}
.interpunct-sentence-next:hover, .interpunct-sentence-next:active {
    background-color: green;
}
/* ----- Not yet used styling ----- */
.interpunct-commaslot-correct {
    background-color:green;
}
.interpunct-commaslot-wrong {
    background-color:red;
}

.comma {
    margin-left: -0.375em;  /* left align comma */
}
/*Temporary tooltip from*/
/*https://chrisbracco.com/a-simple-css-tooltip/*/
/* ----- Tooltip ----- */
[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 4px;
}
/* ----- Tooltip styling ----- */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #fff;
    color: #000;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 1.4;
    min-width: 100px;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #000;
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
    top: 100%;
    margin-top: 6px;
}
[data-tooltip-position="left"]:before {
    right: 100%;
    margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    top: 50%;
    margin-top: -6px;
}
[data-tooltip-position="top"]:after {
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: #000;
}
[data-tooltip-position="right"]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #000;
}
[data-tooltip-position="bottom"]:after {
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #000;
}
[data-tooltip-position="left"]:after {
    right: 100%;
    border-width: 6px 0 6px 6px;
    border-left-color: #000;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}
/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: hidden;
  opacity: 1;
}

.explanations {
    margin-top:15px;
    font-size:75%;
}

.explanation-correct {
    border: 3px dashed green;
    borderRadius: 10px;
}

.explanation-wrong {
    border: 3px solid red;
    borderRadius: 10px;
}
.xxexp-form{
    color: #000;
    margin-top: 10px;
    margin-left: 0;
    display: block;
    background: rgb(221,226,225);
    width: 80%;
    text-align: left;
    border-radius: 10px;
    border: 2px solid #899cbc;
    padding-bottom: 5px;
    font-size: 75%;
}
.xxexp-form p{
    background: #899cbc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    color: white;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.exp-form label {
    display: block;
    padding-left: 20px;
}
.exp-form input {
    float: left;
    position: relative;
    top: 1px;
}

.exp-form label {
    font-weight: 100;
}


.manual, .rank {
    color: #777;
}

.markedincorrect {
    border-radius: 0px;
    border-bottom: rgba(255,0,0,0.8) 4px solid;
}

.markingright::after { color: green; content: "✔"; }
.markingwrong::after { color: red; content: "✘"; }


/* modal */

abbr {
  cursor: pointer;
}

.xmodal{
  /* arbitrary styling */
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  height:250px;
  width:50%;
  background: rgba(231,236,235,0.95);
  text-align: left;
  border-radius: 10px;
  border: 2px solid #899cbc;
  padding: 15px;

  /* change position to fixed if you want to prevent the dialog from scrolling away, and center it */
  position:fixed;
  top:50%;
  left:30%;
  margin-left: -150px;
  margin-top:-100px;
    padding:8px;
}

.xmodal::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}